@font-face {
    font-family: "JF Flat Regular";
    src: url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'),
         url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
         url(../fonts/JF-Flat-regular.woff) format('woff'),
         url(../fonts/JF-Flat-regular.ttf) format('truetype');
    font-weight: bolder;
    font-style: normal;
    
}

body{
    font-family: "JF Flat regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #555555;
    line-height: 1.429;
}

/*------------------------------بدايه الشريط العلوي--------------------------- */

.custom-navbar {
    border-bottom: 3px solid #EEF0EA;
    width: 100%;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.custom-navbar .navbar-header a.navbar-bran img {
    margin: 8px;
}

.custom-form-control, .custom-btn{
    border: 1px solid #555555 !important;
    box-shadow: none !important;
    border-radius: 5px!important ;
    font-size: 14px !important;
    margin: 1px;
    background-color: #fff !important;
    padding: 5px 16px 5px 16px;
    

}

.custom-form-control:hover,
.custom-form-control:focus {
    border-color: #c2101e !important;
    box-shadow: 0 0 2px 0 #c2101e !important;
}

.custom-btn:hover {
    background-color: #d4d4d4;
    border: 1px solid #8c8c8c;
    color: #b86d07;
    transition: all 0.3s ease;
}

.custom-dropdown-menu .checkbox {
    display: inline-block;
    margin: 0 5px;
}

.custom-dropdown-menu {
    border-radius: 2px;
    box-shadow: 0 11px 5px 0 #ebebeb;
    color: #777;
    
}

.custom-dropdown-menu .checkbox label input {
    margin-left: 5px;
}

.custom-navbar .search-btn {
    background-color: #ff3956;
    color: #ff3956;
    color: #fff;
    padding: 5px 15px 7px 15px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    box-shadow: none !important;

}

.custom-navbar .search-btn:hover,
.custom-navbar .search-btn:after,
.custom-navbar .search-btn:focus,
.custom-navbar .search-btn:active:focus
.custom-navbar .search-btn:active:hover{
    background-color: #c2101e !important;
    border-color: #c2101e !important;
    color: #ffffff !important;
}

.custom-navbar .navbar-nav a.nav-link {
    color: #555555;
    font-size: 14px;
    padding: 15px;
}

.custom-navbar .navbar-nav a.nav-link:hover {
    color: #000;
}

.custom-navbar .navbar-nav li.active a.nav-link {
    color: #ff3956;
    border-bottom: 1px solid #ff3956;
    font-weight: 700;
}

.custom-navbar .navbar-nav li.active:hover a.nav-link {
    background-color: #e7e7e7;
}

.nav-item.dropdown .dropdown-menu {
    left: auto;
}

.custom-dropdown-menu li a:hover {
    background-color: #ffe7ea;
}

.custom-navbar a.btn-icon {
    padding: 5px 10px 4px;
    color: #777;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 15px;
    font-size: 12px;
}

.custom-navbar .navbar-nav li:last-of-type {
    margin-top: 8px;
}
/*------------------------------نهايه الشريط العلوي--------------------------- */


/*-------------------------------بدايه عارض الشرائح ---------------------------*/

#carousel-featured {
    background-color: #f7f8f7;
    height: 400px;
    padding-top: 25px;
}

#carousel-featured .carousel-item img {
    height: 375px;
}

#carousel-featured .product-details {
    border: 1px solid #dddddb;
    padding: 20px;
    position: relative;
    top: 50px;
    height: 200px;
}

#carousel-featured .product-details .product-category {
    border: 1px solid #dddddb;
    padding: 10px;
    position: absolute;
    top: -13px;
    right: -13px;
    background-color: #f7f8f7;
}

#carousel-featured .product-details .custom-btn-primary {
    color: #f8ad47;
    border-color: #f8ad47 !important;
    background-color: transparent;
    padding: 9px 25px;
    margin-top: 15px;
    font-size: 18px;
    border-radius: 2px;
}

.sale {
    background-color: #53ccd7;
    color: white;
    position: absolute;
    font-weight: bold;
    
}

.sale.large {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    left: -15px;
    top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-25deg);
    font-size: 116%;
    padding: 35px;
    flex-direction: column;
}

#carousel-featured .product-details .sale.large span{
    font-size: 14px;
}


#carousel-featured .product-details h1 {
    font-size: 175%;
    margin-top: 14px;
    font-weight: 700;
    
}

.custom-carousel-indicators-primary {
    top: 235px;
    right: 41% !important;
}

.custom-carousel-indicators-primary img {
    height: 75px;
    width: 75px;
    background-color: #fff;
    border: 2px solid #dddddb;
    margin-right: 2px;
}

.custom-carousel-indicators-primary img.active {
    border-color: #f8ad47;
}


#carousel-featured .carousel-control-prev,
#carousel-featured .carousel-control-next {
    color: #868686;
    font-size: 20px;
}


/*-------------------- نهايه عارض الشرائح--------------------------------------- */

/*----------------بدايه قسم مميزات المنتج--------------------------------------- */

#store-features{
    box-shadow: 0 0 15px #EEF0EA;
    position: relative;
    top: -30px;
    background-image: url(../img/bg_features.png);
    background-repeat: no-repeat;
    background-color: #fff;
    padding-bottom: 35px;
    padding-top: 25px;
}

#store-features .feature img {
    height: 40px;
    margin-bottom: 10px;
}

#store-features .feature+.feature {
    border-right: 2px solid #eef0ea;
}

h3.custom-heading {
    font-size: 24px;
    margin-bottom: 25px;
}


/*-------------------نهايه قسم مميزات المنتج----------------------------------- */

/*---------------------بدايه قسم الاكثر مبيعا----------------------------------- */

.custom-thumbnail {
    border: 2px solid #EEF0EA ;
    padding: 8px ;
    cursor: pointer;
    margin-bottom: 60px;
}

.custom-thumbnail:hover {
    border: 2px solid #53ccd7;
}

.custom-thumbnail h4 {
    font-size: 18px;
    padding-top: 10px;
}

.custom-thumbnail .card-body {
    padding: 9px;
}

.custom-thumbnail .price {
    padding-top: 10px;
}

.price {
    color: #53ccd7;
}

.rating{
    color: #c2c2c2;
}

.rating .active{
    color: #f3af41;
}

.custom-thumbnail .overlay {
    position: absolute;
    background-color: rgba(83, 204, 215, .5);
    height: 250px;
    width: calc(100% - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease;
}
.overlay:hover {
    opacity: 1;
}

.custom-thumbnail  .add-to-cart-btn {
    background-color: #fff;
    color: #53ccd7;
    font-weight: bold;
}

.custom-thumbnail .add-to-cart-btn:hover,
.custom-thumbnail .add-to-cart-btn:active,
.custom-thumbnail .add-to-cart-btn:focus,
.custom-thumbnail .add-to-cart-btn:active:focus,
.custom-thumbnail .add-to-cart-btn:active:hover {
    color: #000;
}

.custom-thumbnail .sale{
    padding: 5px 10px;
    position: absolute;
    left: 16px;
    top: 14px;
}

.custom-carousel-indicators>li {
    height: 13px !important;
    width: 13px !important;
    margin: 2px !important;
    background-color: #868686 !important;
}

.custom-carousel-indicators>li:active {
    background-color: #000 !important;
}

/*---------------------نهايه قسم الاكثر مبيعا----------------------------------- */
/*---------------------بدايه قسم الماركات العالميه---------------------------- */

.brand-products {
    border: 2px solid #EEF0EA;
    border-radius: 2px;
    padding: 20px;
}

.brand-products .product-img {
    width: 100%;
    margin-bottom: 8px;
}

.custom-primary {
    color: #f8ad47 !important;
    border-color: #f8ad47 !important;
    background-color: transparent !important;
}

.custom-primary:hover,
.custom-primary:active,
.custom-primary:focus,
.custom-primary:active:focus,
.custom-primary:active:hover{
    color: #b86d07 !important;
    border-color: #b86d07 !important;
}

.brand-products h4, .brand-products .price{
    font-size: 130%;
    margin-top: 0;
    margin-bottom: 15px;
}

.custom-text-muted {
    color: #a9a9a9;
}

.custom-arrow-btn {
    background-color: #fff !important;
    color: #868686 !important;
    border: 1px solid #ebebeb !important;
    box-shadow: none !important;
    border-radius: 2px !important;
    padding: 5px 10px !important;
    font-size: 12px !important;
}

.brand-products {
    margin-bottom: 20px;
}

.brand-text {
    display: inline-block;
}


.brand-products .brand-nav {
    margin-top: 14px;
}

#row-brands h3.custom-heading {
    border-top: 2px solid #eef0ee;
    padding-top: 25px;
}

.float-float {
    float: left;
    
}

/*---------------------نهايه قسم الماركات العالميه---------------------------- */

/*---------------------بدايه تذيل الصفحه-------------------------------------- */
#brand-logos {
    background-color: #dbeefa;
    padding: 25px 0;
    color: #555555;
}

#brand-logos img {
    margin-left: 25px;
    margin-right: 25px;
    max-width: 100px;
    max-height: 100px;
}

#footer-nav {
    width: 100%;
    background-color: #1f1e1e;
    padding: 50px 0 40px;
    background-image: url(../img/bg_footer_1.png), url(../img/bg_footer_2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 110% 0, -10% -150%;
    
}

#footer-nav-links{
    margin: 30px 0;
}

#footer-nav-links a {
    color: #555555;
    margin-left: 30px;
    font-weight: bold;
    text-decoration: none;
}

#footer-nav form {
    max-width: 260px;
    margin: auto;
}

#footer-nav #newsletter {
    border-top: 2px solid #292929;
}

input[type=email] {
    direction: rtl;
    text-align: right;
}
 
#footer-nav form label {
    margin: 27px 0 16px;
    font-size: 12px;
    font-weight: bold;
    color: #555555;
}

.custom-btn-primary2 {
    color: #000 !important;
    background-color: #f8ad47 !important;
    border-color: #f8ad47 !important;
}

#footer-copyright-social {
    background-color: #151515;
    color: #303030;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 700;
}

#footer-copyright-social a{
    color: #303030;
    margin-left: 5px;
    margin-right: 5px;
}

/*---------------------نهايه تذيل الصفحه------------------------------------- */